<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{% static 'CSS/mystyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1> Fill out the form</h1>
            <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <img src="{% static 'images/background.jpg' %}" alt="Uh Oh , didn't show">
    </div>
    </div>
</body>
</html>