<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  href="{% static 'CSS/mystyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1> Welcome to home page</h1>
            <h2>go to  <a href="/users/" target="_blank">/users</a> to signup in a new tab.</h2>
        </div>
    </div>
</body>
</html>